.Container {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(185, 185, 185);
}

.Title {
    font-size: 4.5em;
    line-height: 1em;
    font-weight: 600;
    max-width: 600px;
    margin: auto;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

.Tagline {
    background-color: #5d5d5d6b;
    padding: 20px;
    border-radius: 12px;
    font-size: 1.3em;
    line-height: 1.3em;
    font-style: italic;
    margin-left: auto;
    color: rgb(214, 214, 214);
    max-width: 200px;
}

.Overview {
    font-size: 1.4em;
    line-height: 1.5em;
    padding: 0 50px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1300px) {
    .Container {
    font-size: 0.8em;
    }
.Tagline {
    margin-right: auto;
}
.Title {
margin-top: 0.5em;
}
}