.Poster {
    background-color: #5d5d5d8e;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.PosterFullscreen {
    position: fixed;
    top: 6vh;
    left: 3vw;
    height: 88vh;
    width: 94vw;
    background-color: #252525f6;
    border-radius: 8px;
}

.Frame {
    margin: auto;
    height: 1000px;
    transition: 1s;
}

.Icon {
    padding: 20px 40px;
    text-align: end;
    font-size: 3em;
    cursor: pointer;
}

.ArrowButtons {
    width: 90px;
    filter: opacity(40%);
    margin: 0 15px;
    transition: 0.4s;
    transition-property: transform;
}

.ArrowButtons:hover {
    width: 120px;
    filter: opacity(100%);
    margin: 0;
    cursor: pointer;
    transform: rotate(360deg);
}

.Description {
    margin-top: 20px;
    padding: 60px 100px 60px 100px;
    border-radius: 20px;
    color: rgb(189, 189, 189);
    background: #3333338e;
    line-height: 1.6em;
}