.Poster,
.PosterFullscreen {
  background-color: #5d5d5d8e;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  min-width: 400px;
  overflow: hidden;
}

.PosterFullscreen {
  background-color: #5d5d5d8e;
  min-width: 90%;
  position: absolute;
  left: 45%;
  margin-left: -40%;
  border-radius: 12px;
}

.Frame,
.LeftAnimation,
.RightAnimation {
  height: 800px;
  transition: 2s;
  transition-property: filter;
}

.PosterFullscreen .Frame,
.PosterFullscreen .LeftAnimation,
.PosterFullscreen .RightAnimation {
  height: 1200px;
}

.Icon {
  padding: 20px 40px;
  text-align: end;
  font-size: 3em;
  cursor: pointer;
}

.ArrowButtons {
    width: 90px;
    filter: opacity(40%);
    margin: 0 15px;
    transition: 0.2s;
}

.ArrowButtons:hover {
  width: 120px;
  filter: opacity(100%);
  margin: 0;
  cursor: pointer;
}

.DescriptionLight,
.Description {
  margin-top: 20px;
  padding: 40px 60px;
  border-radius: 20px;
  color: rgb(189, 189, 189);
  background: #3333338e;
  line-height: 1.6em;
  min-height: 150px;
  transition: 0.5s;
}

.DescriptionLight {
  background: #4747478e;
}

.DescriptionText {
  animation: fadein 2s;
}

@keyframes left {
  0% {
    margin-left: 0;
    opacity: 100%;
  }
  40% {
    margin-left: -200%;
    opacity: 0;
    height: 500px;
  }
  100% {
    margin-left: 0;
    opacity: 100%;
  }
}

@keyframes right {
  0% {
    margin-right: 0;
    opacity: 100%;
  }
  40% {
    margin-right: -200%;
    opacity: 0;
    height: 500px;
  }
  100% {
    margin-right: 0;
    opacity: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.LeftAnimation {
  animation: left 0.8s ease-in-out;
}

.RightAnimation {
  animation: right 0.8s ease-in-out;
}

.fetchMovie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.Loader {
  position: absolute;
  background: radial-gradient(#ffffff7c, #22212181);
  border-radius: 12px;
  overflow: hidden;
}

.Loader::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 5px;
  background: #000;
}

.Loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 100%;
  background: #000;
}

.Circle1, .Circle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

.Circle2 {
  width: 600px;
  height: 600px;
}

.Niddle {
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  height: 4px;
  width: 1200px;
  background: #000;
  animation: animate 1s linear infinite;
  transform-origin: left;
}

.Number {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Number div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 25em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  opacity: 0;
  animation: animateNum 5s linear infinite;
}

.Number div:nth-child(1) {
  animation-delay: 0s;
}

.Number div:nth-child(2) {
  animation-delay: 1s;
}

.Number div:nth-child(3) {
  animation-delay: 2s;
}

.Number div:nth-child(4) {
  animation-delay: 3s;
}

.Number div:nth-child(5) {
  animation-delay: 4s;
}

@keyframes animate {
  0% {
      transform: rotate(-90deg);
  }
  100% {
      transform: rotate(270deg);
  }
}

@keyframes animateNum {
  0%,20% {
      opacity: 1;
  }
  20.01%,100% {
      opacity: 0;
  }
}

@media only screen and (max-width: 1300px) {
	.Description {
    padding: 20px;
    border-radius: 0 0 12px 12px;
    margin-top: 0;
  }
  .LeftAnimation, .RightAnimation,
  .Frame {
    height: auto;
  }
  .LeftAnimation svg, .RightAnimation svg,
  .Frame svg {
    width: 80vw;
    height: 106vw;
  }
  .ArrowButtons,
  .ArrowButtons:hover {
    width: 70px;
    margin: 0;
  }
  .PosterFullscreen .LeftAnimation, .PosterFullscreen .RightAnimation,
  .PosterFullscreen .Frame {
    height: auto;
  }
  .PosterFullscreen {
    min-width: auto;
    width: 100%;
    margin-left: 0;
    left: 0;
  }
  .Poster {
    border-radius: 12px 12px 0 0;
    min-width: auto;
  }
}
