.JamesbondAnimation .cls-99, .JamesbondAnimation .cls-14, .JamesbondAnimation .cls-15, .JamesbondAnimation .cls-16 {
  animation: bond 3s infinite;
}

.JamesbondAnimation .cls-99 {
  fill: rgb(42, 42, 42);
}

.JamesbondAnimation .cls-16 {
  animation: bond 3s infinite, bondFire 3s infinite;
}

.JamesbondAnimation .cls-9  {
  animation: bondBackground 8s infinite;
}

.ShawshankAnimation #rain {
  animation: rainDrops 8s infinite;
}

@keyframes rainDrops {
  99.99% {
    transform: translateX(-500px) translateY(700px);
  }
  to {
    opacity: 0;
  }
}


@keyframes bond {
  25% {
    transform: translateX(-330px) translateY(400px) rotate(-30deg);
  }
  40% {
    transform: translateX(-370px) translateY(860px) rotate(-55deg);
  }
  50% {
    transform: translateX(-330px) translateY(1140px) rotate(-70deg);
    }
  75% {
    transform: translateX(-300px) translateY(400px) rotate(-30deg);
  }
}

@keyframes bondFire {
  23% {
    fill: black;
  }
  25% {
    fill: yellow;
  }
  28% {
    fill: black;
  }
  38% {
    fill: black;
  }
  40% {
    fill: yellow;
  }
  42% {
    fill: black;
  }
  48% {
    fill: black;
  }
  50% {
    fill: yellow;
    }
    52% {
      fill: black;
    }
    73% {
      fill: black;
    }
  75% {
    fill: yellow;
  }
  77% {
    fill: black;
  }
}

@keyframes bondBackground {
  90% {
    r: 600;
  }
}

.InterstellarAnimation #svg_5, .InterstellarAnimation #svg_18, .InterstellarAnimation #svg_19, 
.InterstellarAnimation #svg_20, .InterstellarAnimation #svg_21, .InterstellarAnimation #svg_22, .InterstellarAnimation #svg_23 {
  animation: interstellarShip 20s infinite;
}

.InterstellarAnimation #svg_2 {
  animation: interstellarBackground 5s infinite;
}

@keyframes interstellarShip {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-40px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-40px);
  }
  40% {
    transform: translateX(0) rotate(0) translateY(0);
  }
  60% {
    transform: translateX(800px) rotate(-30deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes interstellarBackground {
  50% {
    fill: #927933;
  }
}

@keyframes spinningtop {

  25% {
    transform: translateX(15px) translateY(3px) rotate(0.5deg);
  }

  75% {
    transform: translateX(-15px) translateY(-3px) rotate(0.5deg);
  }
}

@keyframes speedline1 {
  10% {
    stroke-opacity: 1;
  }
  20% {
    stroke-opacity: 0;
  }
  30%{
    stroke-opacity: 1;
  }
  40%{
    stroke-opacity: 0;
  }
  50%{
    stroke-opacity: 1;
  }
  60%{
    stroke-opacity: 0;
  }
  70%{
    stroke-opacity: 1;
  }
  80%{
    stroke-opacity: 0;
  }
  90%{
    stroke-opacity: 1;
  }
  100%{
    stroke-opacity: 0;
  }
}

@keyframes speedline2 {
  10% {
    stroke-opacity: 0;
  }
  20% {
    stroke-opacity: 1;
  }
  30%{
    stroke-opacity: 0;
  }
  40%{
    stroke-opacity: 1;
  }
  50%{
    stroke-opacity: 0;
  }
  60%{
    stroke-opacity: 1;
  }
  70%{
    stroke-opacity: 0;
  }
  80%{
    stroke-opacity: 1;
  }
  90%{
    stroke-opacity: 0;
  }
  100%{
    stroke-opacity: 1;
  }
}

.InceptionAnimation #sulamitten{
  animation: spinningtop 3s infinite;
}

.InceptionAnimation .rightspinner {
  animation: speedline1 2s infinite;
}

.InceptionAnimation .leftspinner {
  animation: speedline2 2s infinite;
}

@keyframes lightningblink1 {
  25% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }

  27% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  61% {
    opacity: 1;
  }

  62% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  90%{
    opacity: 0;
  }

}

@keyframes lightningblink2 {
  27% {
    opacity: 0;
  }
  28% {
    opacity: 1;
  }

  29% {
    opacity: 0;
  }

  62% {
    opacity: 0;
  }

  63% {
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

}

@keyframes batmanmoving {

  25%{
    transform: scale(1.1) translateX(-30px) translateY(-100px);
  }
}

.BatmanAnimation .st1 , .BatmanAnimation .st2{
  animation: lightningblink1 3s infinite;
}

.BatmanAnimation .st2{
  animation: lightningblink2 3s infinite;
}

.BatmanAnimation #batboy,.BatmanAnimation .st3, .BatmanAnimation .st3{
  animation: batmanmoving 3s infinite;
}

.ShawshankAnimation {
  border: 4px solid rgb(72, 255, 0);
}

.StarwarsAnimation {
  border: 4px solid rgb(72, 255, 0);
}
