  .Toolbar, .ToolbarFullscreen {
    padding: 20px;
    background: #171a36;
    border-radius: 20px;
    text-align: center;   
    margin-bottom: 60px; 
    display: flex;
    transition: 0.8s;
    z-index: 15;
    min-height: 113px;
}

.ToolbarFullscreen {
    position: sticky;
    top: 45px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.Row {
    display: flex;
    margin-left: auto
}

.Group {
    font-size: 1.2em;
    font-weight: bold;
    background: #4d4d4d86;
    width: 50px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
}

.Group div:not(:nth-child(2)):hover {
    font-size: 1.2em;
    margin-top: -0.12em;
    margin-bottom: -0.12em;
}

.Toggle,
.ButtonBar,
.Button {
    background: #4d4d4d86;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
    padding: 35px 25px;
    transition: 0.1s;
    min-width: 75px;
    height: 30px;
    margin-top: 10px;
}

.Toggle {
    background: rgba(133, 133, 133, 0.525);
    border-radius: 0 8px 8px 0;
    margin: 10px 10px 0 0;
    min-width: 50px;
    padding: 35px 20px;
}

.Toggle:first-child {
    border-radius: 8px 0 0 8px;
    margin: 10px 0 0 10px;
}

.Toggle:hover,
.Group:hover,
.ButtonBar:hover,
.Button:hover {
    background: rgba(119, 119, 119, 0.525);
}

.ButtonBar {
    padding: 0;
    overflow: hidden;
    height: 100px;
}

.Icon {
    width: 30px;
    height: 30px;
}

.SpotRow {
    display: flex;
    justify-content: space-between;
    padding: 0 180px;
}

.Spotlight {
    box-shadow: 0px 150px 170px 70px rgb(214, 150, 0);
    background: rgba(214, 178, 0, 0);
    height: 2px;
    width: 120px;
    border-radius: 20px;
    z-index: 10;
}

.SlideBar {
    background: #88888886;
    padding: 35px 0 50px 0;
    border-radius: 8px 0 0 8px;
}

.SlideText {
    width: 160px;
}