.Toolbar, .ToolbarFullscreen {
    padding: 30px;
    background: #2f2f2f8e;
    border-radius: 20px;
    text-align: center;   
    margin-bottom: 100px; 
    display: flex;
    transition: 0.8s;
}

.ToolbarFullscreen {
    margin-bottom: 40px;
    margin-top: 40px;
}

.Row {
    display: flex;
    margin-left: auto
}

.Group {
    font-size: 1.4em;
    font-weight: bold;
    background: #4d4d4d86;
    width: 50px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
}

.Group div:hover {
    font-size: 1.2em;
    margin-top: -0.12em;
    margin-bottom: -0.12em;
}

.Toggle,
.Button {
    background: #4d4d4d86;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
    padding: 35px 25px;
    transition: 0.1s;
    min-width: 75px;
}


.Toggle {
    background: #88888886;
    border-radius: 0 8px 8px 0;
    margin: 0;
    min-width: 50px;
    padding: 35px 20px;
}

.Toggle:first-child {
    border-radius: 8px 0 0 8px;
    margin: 0 0 0 10px;
}

.Toggle:hover,
.Group:hover,
.Button:hover {
    background: rgba(119, 119, 119, 0.525);
}

.Icon {
    width: 30px;
    height: 30px;
}

.SpotRow {
    display: flex;
    justify-content: space-between;
    padding: 0 180px;
}

.Spotlight {
    box-shadow: 0px 150px 170px 70px rgb(214, 150, 0);
    background: rgba(214, 178, 0, 0);
    height: 2px;
    width: 120px;
    border-radius: 20px;
    z-index: 10;
}