.Footer, .CreditFooter {
    background: #3333338e;
    border-radius: 20px;
    text-align: center;   
    color: #d1d1d1;
    font-size: 1.2em;
    padding-bottom: 50px;
    overflow: hidden;
}

.Footer:hover {
    cursor: pointer;
}

.CreditFooter {
    animation: fadein 0.6s;
}

.Row {
    display: flex;
    margin: auto;
    width: 480px;
    padding-top: 70px;
}

.Link {
    filter: opacity(0);
    transition: 0.3s;
}

.About {
    margin-left: 120px;
    transition: 0.3s;
}

.Footer:hover .About {
    margin-left: 0px;
    color: #888888;
}

.Footer:hover .Link {
    filter: opacity(100%);
    margin-left: 30px;
    margin-right: -100px;
    color: white;
}

.Fade {
    position: relative;
    min-height: 400px;
    background-image: linear-gradient(0deg, transparent, rgb(37, 36, 66) 85%);
    border-radius: 20px;
    z-index: 1;
  }
  
.CreditText {
    display: flex;
    justify-content: center;
    perspective: 500px;
    text-align: justify;
    height: 400px;
    color: #febf4a;
    font-size: 500%;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 150%;
  }
  
.Crawl {
    position: relative;
    top: 10000px;
    transform-origin: 50% 100%;
    animation: fadeout 20s linear;
  }
  
.Crawl > .Title {
    font-size: 90%;
    text-align: center;
    margin: 0 0 100px;
  }

  @keyframes fadein {
    0% {
        max-height: 150px;
    }
    100% { 
        max-height: 800px;
    }
}
  
@keyframes fadeout {
    0% {
    top: 0px;
    transform: rotateX(20deg)  translateZ(0);
}
    100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
}
}