body {
  margin: 0;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Manrope", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.Background {
  background-color: #202736;
  padding-bottom: 80px;
  min-height: 1400px;
}

.App {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 1300px;
  margin: auto;
}

.App-header {
  padding: 60px 0;
  font-size: 2.1em;
  color: rgb(230, 230, 230);
}

.TopRow {
  height: 2px;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 40);
}

body::-webkit-scrollbar-thumb {
  background-color: #5d5d5d8e;
  margin-right: 5px;
  border-radius: 6px;
}

@media only screen and (max-width: 1300px) {
  .App-header {
    text-align: center;
  }
}
