body {
  margin: 0;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Manrope", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.Background {
  background-color: #202736;
  padding-bottom: 100px;
  min-height: 2200px;
  overflow: hidden;
}

.App {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 1300px;
  margin: auto;
}

.App-header {
  padding: 60px 0;
  font-size: 2.1em;
  color: rgb(228, 228, 228);
}

.TopRow {
  height: 2px;
}
